{% extends 'head_basic.html' %}
{% block content %}
{% load static %}
   <body class="bd">
    {% for tecl in teclado %}
          <div class="card">
              <a href="{% url 'Descricao' tecl.id %}">
                <img class="imgs" src="{{tecl.img.url }}" alt="" style="width:100%">
              </a>
              <div class="texte">
                  <p><strong>{{tecl.Nome_produto}}</strong></p>
                  <p>R$:{{tecl.preco}}</p>
                  <p>{{tecl.Descricao}}</p>
              </div>
          </div>
      {% endfor %}
   </body>
{% endblock %}